*{
	box-sizing: border-box;
	margin:0;
}
#window{
	margin-left: 19%;
	float: left;
	margin-right: 1%;
}
.zagolovok{
	width:100%;
	background-color:rgba(0,0,0,0.7);
	color:white;
	font-size:120%;
	font-family:Century Gothic;
}
.zagolovok:hover{
	color:red;
}
body{
	background-image:url("Images/bg.jpg");
}
#control{
	float: left;
}