*{
	box-sizing: border-box;
	margin:0;
}
body{
	background-image:url('images/3.png');
}
.zagolovok{
	position: fixed;
	width:100%;
	background-color:rgba(0,0,0,0.7);
	color:white;
	font-size:50;
	font-family:Century Gothic;
}
.zagolovok:hover{
	color:red;
}
.content{
	min-height:620px;
}
games{
	text-align:center;
	width:25%;
	background-color:rgba(0, 0, 0,0.89);
	float:left;
	border:1px solid #FFF;
	color:white;
	font-size:40;
	height:22%;
	font-family:Century Gothic;
}
games:hover{
	background-color:rgba(204, 0, 102,0.89);
}
.block{
	width:100%;
	background-color:black; 
	color:white;
	font-size:20;
	float:left;
}
a{
	text-decoration: none;
}
