*{
	box-sizing: border-box;
	margin:0;
}
#window{
	margin-left: 40%;
}
.zagolovok2{
	width:100%;
	background-color:rgba(0,0,0,0.7);
	color:white;
	font-size:500%;
	font-family:Century Gothic;
}
.zagolovok2:hover{
	color:red;
}
body{
	background-image:url("Images/bg.jpg");
}